body {
  padding-top: 56px;
  padding-bottom: 40px;
}

a:active, a:hover {
  text-decoration: none;
}
a[href="#top"] {
  display: inline-block;
  margin: 3em 0;
}
a[href="#top"]:after {
  content: ' \21E7';
}

/* NAV */
.navbar {
  border-top: 4px solid #5017aa;
  background-image: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

/* Index page */
.home .jumbotron {
  background-color: transparent;
}

.post-item .panel {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
.post-item .panel-heading {
  background-image: none;
  background-color: transparent;
  border: none;
}
.post-item .panel-body {
  height: 125px;
  overflow: hidden;
}
.post-item .panel-footer {
  background-color: transparent;
}
.post-item .panel-footer {
  text-align: right;
  border-top: none;
}
.post-item .date {
  color: #aaa;
}

/* SIDEBAR */
.sidebar .author-about{
  font-style: italic;
}

/* MAIN */
.main {
  min-height: 800px;
}

/* CONTACT PAGE */
body.contact .main {
  height: 800px;
}

/* PAGES & POSTS */
.page,
.post{
  max-width: 75%;
}
@media (max-width: 767px) {
  .page,
  .post{
    margin-right: 0;
  }
}
.page header,
.post header {
  margin-bottom: 1em;
}
.page-footer, .post-footer {
  margin: 2em 0;
}
