<!--sidebar-->
<aside class="author-about">
  <h4>About {{ site.author }}</h4>
  {% if site.gravatarhash %}
  <img src="http://www.gravatar.com/avatar/{{ site.gravatarhash }}.jpg"/>
  {% endif %}
  <div class="author-about-blub">
    This is a blurb about me. This is a blurb about me. This is a blurb about me.
  </div>
</aside>
<aside class="social">
  <ul class="nav nav-list">
    <li class="nav-header">Social</li>
    <li><a href="#">Stack Overflow</a></li>
    <li><a href="#">Github</a></li>
    <li><a href="#">Twitter</a></li>
  </ul>
</aside>
<aside>
  <h4><a href="{{ site.baseurl }}/blog/">Blog Archives</a></h4>
</aside>
{% if site.search_enabled %}
<aside>
  <form class="form-search" method="GET" action="http://google.com/search">
    <input type="hidden" name="q" value="site:{{ site.baseurl }}">
    <input type="text" class="input-medium search-query" name="q" results="0" placeholder="Search...">
  </form>
</aside>
{% endif %}
<aside class="tweets">
  {% include tweets.html %}
</aside>
<!--/sidebar-->
