<!--sidebar-->
<aside class="author-about">
  {% if site.gravatarhash %}
  <img src="http://www.gravatar.com/avatar/{{ site.gravatarhash }}.jpg"/>
  {% endif %}
  <h4>{{ site.author }}</h4>
  <div class="author-about-blub">
    I'm a Web Devloper in San Francisco.
  </div>
</aside>
<hr>

<!--<aside class="social">-->
  <!--<ul class="nav nav-list">-->
    <!--<li class="nav-header">Social</li>-->
  <!--</ul>-->
<!--</aside>-->
<aside>
  <h4><a href="{{ site.baseurl }}/blog/">Blog Archives</a></h4>
</aside>
<hr>

{% if site.search_enabled %}
<aside>
  <form class="form-search" method="GET" action="http://google.com/search">
    <input type="hidden" name="q" value="site:{{ site.baseurl }}">
    <input type="text" class="input-medium search-query" name="q" results="0" placeholder="Search...">
  </form>
</aside>
<hr>
{% endif %}

<aside class="tweets">
  {% include tweets.html %}
</aside>
<!--/sidebar-->
